<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan14th.mapper.AdminMapper">


  <!--以下自己写的-->

  <resultMap id="adminMapper" type="com.cskaoyan14th.bean.Admin">
    <result column="id"  property="id" />
    <result column="username"  property="username"/>
    <result column="password" property="password" />
    <result column="last_login_ip" property="lastLoginIp"/>
    <result column="last_login_time" property="lastLoginTime"/>
    <result column="avatar"  property="avatar"/>
    <result column="add_time" property="addTime"/>
    <result column="update_time" property="updateTime"/>
    <result column="deleted"  property="deleted"/>
    <result column="role_ids" property="roleIds" typeHandler="com.cskaoyan14th.typeHandler.AdminTypeHandler"/>
  </resultMap>


  <select id="queryAdminAll" resultMap="adminMapper">
    select id,username,role_ids,avatar from cskaoyan_mall_admin
    <where>
    <if test="user != null">
      username like
      CONCAT('%',#{user},'%')
    </if>
   </where>
  </select>

  <insert id="insertAdmin">
    insert  into cskaoyan_mall_admin (password,username,role_ids,avatar,add_time,update_time) values (#{adm.password},#{adm.username},#{adm.roleIds,typeHandler=com.cskaoyan14th.typeHandler.AdminTypeHandler},#{adm.avatar},#{adm.addTime},#{adm.updateTime})
  </insert>

  <select id="queryAdminByUsername" resultMap="adminMapper">
    select id,password,username,avatar,role_ids,add_time,update_time from cskaoyan_mall_admin where username = #{user.username}
  </select>

  <select id="queryPasswordByUsername" resultMap="adminMapper">
    select password,username,role_ids from cskaoyan_mall_admin where username = #{name}
  </select>

  <update id="updatetAdmin" >
    update cskaoyan_mall_admin
    set password = #{admin.password},username = #{admin.username},role_ids = #{admin.roleIds,typeHandler=com.cskaoyan14th.typeHandler.AdminTypeHandler},avatar = #{admin.avatar}
    where id = #{admin.id}
  </update>

  <select id="queryAdminById" resultMap="adminMapper">
    select id,username,role_ids,avatar from cskaoyan_mall_admin where id = #{aid.id}
  </select>

  <delete id="deleteAdmin" >
    delete from cskaoyan_mall_admin where id = #{admin.id}
  </delete>


</mapper>