<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan14th.mapper.LogMapper">
  <resultMap id="logMap" type="com.cskaoyan14th.bean.Log">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="admin" jdbcType="VARCHAR" property="admin" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="action" jdbcType="VARCHAR" property="action" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="result" jdbcType="VARCHAR" property="result" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
  </resultMap>
  <select id="queryAdminAll" resultMap="logMap">
    select id,admin,ip,`type`,`action`,status,result,comment,add_time,update_time,deleted
    from cskaoyan_mall_log
    <where>
      <if test="name != null">
        `name` like
        CONCAT('%',#{name},'%')
      </if>
    </where>
  </select>
  <insert id="insertLogin">
    insert into cskaoyan_mall_log (admin,ip,`type`,`action`,status,add_time,update_time,deleted)
    values (#{log.admin},#{log.ip},#{log.type},#{log.action},#{log.status},#{log.addTime},#{log.updateTime},#{log.deleted})
  </insert>


</mapper>