<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan14th.mapper.PermissionMapper">
  <resultMap id="permissionMap" type="com.cskaoyan14th.bean.Permission">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="permission" jdbcType="VARCHAR" property="permission" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
  </resultMap>
  <!--<resultMap id="loginfoMapper" type="string">
    <result column="permission" property="perms"/>
  </resultMap>-->
  <select id="queryAdminByPrincipal" resultMap="permissionMap">
    select id,role_id,permission,add_time,update_time,deleted from cskaoyan_mall_permission where role_id in
    <foreach collection="roleids" item="ids" separator="," open="(" close=")">
      #{ids}
    </foreach>
  </select>
  <select id="queryPermissionByRoleids" resultType="string">
    select permission from cskaoyan_mall_permission where role_id in
    <foreach collection="adm" item="ids" separator="," open="(" close=")">
      #{ids}
    </foreach>
  </select>
</mapper>