<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan14th.mapper.RoleMapper">
  <resultMap id="roleMapper" type="com.cskaoyan14th.bean.Role">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
    <result column="enabled" jdbcType="BIT" property="enabled" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
  </resultMap>
  <resultMap id="roleLabelMapper" type="com.cskaoyan14th.bean.RoleLabel">
    <result column="value" jdbcType="INTEGER" property="value" />
    <result column="label" jdbcType="VARCHAR" property="label" />
  </resultMap>
  <select id="queryRoleAll" resultMap="roleLabelMapper">
    select id as value ,name as  label from cskaoyan_mall_role
  </select>
</mapper>