<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan14th.mapper.StatMapper">

    <resultMap id="UserStatMapper" type="com.cskaoyan14th.vo.UserStat">
        <result column="u_count" property="users"/>
        <result column="date" property="day"/>
    </resultMap>
    <select id="getUserStatList" resultMap="UserStatMapper">
        select count(*) as u_count, date(add_time) as date
        from cskaoyan_mall_user
        group by date(add_time);
    </select>

    <resultMap id="OrderStatMapper" type="com.cskaoyan14th.vo.OrderStat">
        <result column="o_count" property="orders"/>
        <result column="u_count" property="customers"/>
        <result column="p_sum" property="amount"/>
        <result column="p_avg" property="pcr"/>
        <result column="date" property="day"/>
    </resultMap>
    <select id="getOrderStatList" resultMap="OrderStatMapper">
        select count(id) as o_count, count(distinct user_id) as u_count, sum(actual_price) as p_sum, sum(actual_price)/count(distinct user_id) as p_avg, date(add_time) as date
        from cskaoyan_mall_order
        group by date(add_time)
    </select>

    <resultMap id="GoodsStatMapper" type="com.cskaoyan14th.vo.GoodsStat">
        <result column="o_count" property="orders"/>
        <result column="n_count" property="products"/>
        <result column="np" property="amount"/>
        <result column="date" property="day"/>
    </resultMap>
    <select id="getGoodsStatList" resultMap="GoodsStatMapper">
        select count(distinct temp.order_id) as o_count, sum(number) as n_count, sum(temp.np) as np, date(temp.add_time) as date
        from (select *, number*price as np from cskaoyan_mall_order_goods) as temp
        group by date(add_time)
    </select>

</mapper>