<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan14th.mapper.StorageMapper">
  <resultMap id="storageMapper" type="com.cskaoyan14th.bean.Storage">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="key" jdbcType="VARCHAR" property="key" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="size" jdbcType="INTEGER" property="size" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
  </resultMap>
  <insert id="insertStorageAll" >
    insert into cskaoyan_mall_storage (`key`,`name`,type,size,url,add_time,update_time) values (#{sto.key},#{sto.name},#{sto.type},#{sto.size},#{sto.url},#{sto.addTime},#{sto.updateTime})
  </insert>

  <select id="queryStorageAll" resultMap="storageMapper">
    select id,`key`,`name`,type,size,url,add_time,update_time from cskaoyan_mall_storage where name = #{ori}
  </select>
</mapper>